<h1><%= t('.title_menu') %></h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@menu) do |f| %>
      
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label t('.menu_name') %>
      <%= f.text_field :menu_name %>
      
      <%= f.label t('.menu_date') %>
      <%= f.date_field :menu_date %>
      
      <%= f.label t('.description') %>
      <%= f.text_area :description %>
      
      <%= f.submit t('.create_menu'), class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

</div>


  <!--create_table "menus", force: :cascade do |t|-->
  <!--  t.integer  "user_id"-->
  <!--  t.date     "menu_date"-->
  <!--  t.string   "menu_name"-->
  <!--  t.string   "description"-->
  <!--  t.datetime "created_at",  null: false-->
  <!--  t.datetime "updated_at",  null: false-->
  <!--end-->