<div class="container">
  <h1>
    <%= @user.name +  t('.your_recipe') %>
  </h1>

  <div class="container">
    <div class="row">
      <div class="col-sm-3" style="text-align: center">
        <h2>title</h2>
        <p><img class="img-circle" src="" alt="" width="180" height="180">
        </p>
        <o>aaaa</o>
        <%= link_to t('.view_details') %>    
      </div>

  <%= render 'menus/sidemenu' %>
      
    
    </div>  
  </div>
</div>

<%# @recipes.each do |f| %>
  <%#= form_for(f) do |fx| %>
    <%#= fx.text_field "材料と分量のカラムがない", readonly: true %>
    <%#= fx.text_field "材料と分量のカラムがない", readonly: true %>
  <%# end %>
<%# end %>

<%= form_for(@recipe) do |f| %>
  <%= f.text_field "材料と分量のカラムがない" %>
  <%= f.text_field "材料と分量のカラムがない" %>
  <%= f.submit %>
<% end %>
